.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;

  background-color: $gray-400;
  .modal {
    display: flex;
    flex-direction: column;
    width: pxToRem(300px);
    height: pxToRem(200px);
    background-color: $white;
    border-radius: pxToRem(10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    .header {
      display: flex;
      justify-content: space-between;
      padding: pxToRem(8px) pxToRem(12px);
      border-bottom: pxToRem(1px) solid $gray-200;
    }
    .main {
      flex: 1;
      padding: pxToRem(12px);
      border-bottom: pxToRem(1px) solid $gray-200;
    }
    .footer {
      display: flex;
      justify-content: space-around;
      padding: pxToRem(12px) 0;
    }
  }
}
